/* ContactUs styles */
.contact-us {
    position: relative;
    top: 50px;
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Title */
  .title_contact {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: black;
  }
  
  /* Form */
  .Contactform {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  /* Form row */
  .form-row {
    display: flex;
    gap: 10px;
  }
  
  /* Input styles */
  .input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  

  /* Textarea styles */
  .textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  /* Disclaimer */
  .disclaimer {
    font-size: 12px;
    color: #666;
    margin-top: 10px;
  }
  
  /* Link */
  .link {
    color: #349395;
    text-decoration: none;
  }
  
  /* Submit button */
  .submit-button {
    background-color: #349395;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #63bdbf;
  }
  